run = "npm run dev"
modules = ["nodejs-20"]

  [nix]
  channel = "stable-24_05"

  [deployment]
  deploymentTarget = "static"
  build = ["npm", "run", "build"]
  publicDir = "dist"

  [[ports]]
  localPort = 5000
  externalPort = 80
  